# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# EPANET SETUP
epanet/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data files
data/raw/*
data/processed/*
data/output/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db